<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 引入 Bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>	
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js"></script>
<title>内容页</title>
</head>
<body>
<div class="container">
	<div class="header">
		<img src="images/icon_title.png"/>
	</div>
	<div class="main">
		<img class="pull-left" src="images/icon_bgiface.png"/>
		<div class="vote-body">
			<div class="vote-item1">
				<b>姓名：野原新之助</b>
				<b>自我介绍：</b>
				<div class="vote-txt">
					<p>大家好！我是野原新之助，大家都叫我小新，我今年五岁，喜欢的颜色是白色，喜欢的内裤图案是动感超人哦！</p>
					<p>我是一个具有特殊本能的小孩，调皮捣蛋很有一套，常会惹别人生气，还拿我没有办法。不过有时候也有可爱的一面，常常会把大家逗得肚子笑疼。但如果要是你家也有一个像我这样的孩子，我保证你会笑不出来，不信你可以去问我的爸爸妈妈。</p>
					<p>有时候我自己也觉得奇怪，我自己到底像谁呢，既不像爸爸也不像妈妈，你们觉得呢？我有一个超级无敌的大脑，智商高到顶点，拥有超乎常人的想像力，思维方式更有别于常人，没有人能理解我的想法，我可以随时随地把大人整得狼狈不堪，满地找牙。</p>
					<p>我有两只有着灵活开关的耳朵，对重要的情报接收灵敏，对妈妈的吩咐却充耳不闻，又可以把别人说的话扭曲，让人哭笑不得。</p>
					<p>总之，这就是我，喜欢我哦</p>
				</div>
				<b>竞选宣言：<span>喜欢我就投我一票吧！</span></b>
			</div>
			<div class="vote-item2">
				<button class="btn">投他一票</button>
				<span>
					名次:<a href="">2</a>名
				</span>
				<span>
					票数:<a href="">20</a>票
				</span>
			</div>
		</div>
	</div>
	
</div>
<div class="footer"></div>
<script src="js/addRippleEffect.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
