<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

<!-- 引入 Bootstrap -->
<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %} />
<link rel="stylesheet" type="text/css" href={% static "css/style.css" %} />
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
    <script src={% static "js/html5shiv.js" %}></script>
    <script src={% static "js/respond.min.js" %}></script>
<![endif]-->

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src={% static "js/jquery-1.11.3.min.js" %}></script>
<!-- 包括所有已编译的插件 -->
<script src={% static "js/bootstrap.min.js" %}></script>
<title>排行榜</title>
</head>
<body>
<div class="container">
	<div class="header">
		<img src={% static "images/icon_title.png" %} />
	</div>
	<div class="main">
		<h4>竞选排行榜</h4>
		<table class="table table-list">
			<thead>
				<tr>
					<th>姓名</th>
					<th>排名</th>
				</tr>
			</thead>
			<tbody>
                {% for one_candidate in candidates %}
                    <tr>
                        <td>
                            <a href="/content/{{ one_candidate.id }}/" class="pull-left"><img src={{ one_candidate.pic_name }} title="查看详情" /></a>
                            <div class="table-item">
                                <h4>{{ one_candidate.name }}</h4>
                                <div>
                                    <div class="progress-box" style={{ one_candidate.bar_style | safe }}>
                                        <em class={{ one_candidate.bar_color | safe }}></em>
                                    </div>
                                    <span>{{ one_candidate.voted }} 票</span>
                                </div>
                            </div>
                        </td>
                        <td>{{ one_candidate.rank }}名</td>
				    </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
	
</div>
<div class="footer">
		
</div>
</body>
</html>
